{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--  The profile itself   -->
<section class="vh-100" style="background-color: #9de2ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img class="pfp" src="{% get_media_prefix %}{{profile.profilePicture }}" alt="{% get_media_prefix %}{{ profile.profilePicture }}">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">{{ owner.username }}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ profile.name }}</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Posts</p>
                      <p class="mb-0">{{ postsNum }}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Followers</p>
                      <p class="mb-0">{{ followersNum }}</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">Following</p>
                      <p class="mb-0">{{ followingNum }}</p>
                    </div>
                  </div>
                  {% if user.is_authenticated and user != owner %}
                    <div class="d-flex pt-1">
                    <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                    <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                  {% endif %}
                  {% if user.is_authenticated and user == owner %}
                    <form action="{% url 'edit' username=owner.username %}">
                      <input type="submit" value="Edit" />
                  </form>
                  
                  {% endif %}
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- About -->
        <div class="card row d-flex justify-content-center align-items-center h-100 " style="border-radius: 15px;">
        <p>{{ profile.bio }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Posts -->

  {% endblock %}