{% extends 'base.html' %}
{% block content %}

{% load static %}
{% for profile in matching_profiles %}
<section class="vh-100" style="background-color: #9de2ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img class="pfp" src="{% get_media_prefix %}{{profile.profilePicture }}" alt="img">
                </div>
                <a href="{% url "profile" profile.owner.username %}"
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">{{ profile.owner.username }}</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ profile.name }}</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Posts</p>
                      <p class="mb-0">{{ profile.postsNum }}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Followers</p>
                      <p class="mb-0">{{ profile.followersNum }}</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">Following</p>
                      <p class="mb-0">{{ profile.followingNum }}</p>
                    </div>
                  </div>
                </a>
                  {% if not already_following and  user.is_authenticated and user != owner %}
                    <form method="POST" action="{% url 'follow' profile.pk %}">
                      {% csrf_token %}
                      <input class="btn btn-primary flex-grow-1" type="submit" value="Follow"/>
                      </form>
                   {% elif already_following and  user.is_authenticated and user != owner%}   
                   <form method="POST" action="{% url 'follow' profile.pk %}">
                    {% csrf_token %}
                    <input class="btn btn-secondary flex-grow-1" type="submit" value="Unfollow"/>
                    </form>
                    {% endif %}
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endfor %}
{% endblock %}

